@font-face {
    font-family: Verdana-Bold;
    src: url("../fonts/Veranda Bold/ofont.ru_Verdana.ttf");
}
@font-face {
    font-family: Verdana;
    src: url("../fonts/Veranda/verdana.ttf");
}
body{
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.header{
    position: relative;
    height: 102px;
    margin-bottom: 55px;
}
.main{
    position: relative;
    margin-right: 155px;
    margin-left: 105px;
}
.footer{
    position: relative;
}
.logo{
    position: absolute;
    float: left;
    background-image: url("../img/logo@1X.png");
    background-repeat: no-repeat;
    font-family: Verdana-Bold;
    color: white;
    width: 105px;
    height: 44px;
    text-transform: uppercase;
    text-align: left;
    top: 50px;
    padding-left: 60px;
    padding-bottom: -40px;
    left: 0px;
    margin-left: 155px;
}
.capt1{
    margin: 0;
    font-size: 28.5px;
    position: absolute;
    bottom: 17px;
}
.capt2{
    margin: 0;
    font-size: 17.5px;
    position: absolute;
    top: 27px;
    left: 61px;
}
a{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
}
.contact{
    font-family: Verdana;
    color: white;
    width: 243px;
    height: 37px;
    text-align: right;
    position: absolute;
    font-size: 18px;
    float: right;
    top: 60px;
    right: 0px;
    margin-right: 155px;
}
.mail{
    margin: 0;
}
.phone{
    margin: 0;
}
.logo:hover{
    background-image: url("../img/logo@hover.png");
    color: #f26522
}
.option{
    display: inline-block;
    position: relative;
    right: 0;
    margin-right: 55px;
    width: 307px;
    height: 240px;
    margin-bottom: 58px;
    float: none;
}
.option:nth-child(3n){
    margin-right: 0;
}
.name{
    position: absolute;
    font-family: Verdana;
    text-align: center;
    font-size: 12.5pt;
    top: 201px;
    margin-top: 24px;
    margin-left: 108px;
}
.food{
    margin-left: 17px;
}
.option:hover{
    color: #f26522;
}
.walking{
    margin-left: 10px;
}
.hover-price{
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 0;
    background-color: #f26522;
    overflow: hidden;
    opacity: 1;
    transition: 0.6s;
    top: 145px;
    left: 24px;
}
.option:hover .hover-price{
    cursor: pointer;
    height: 65px;
    color: #f26522;
}
.price p{
    text-align: left;
    font-size: 10px;
    margin-left: 20px;
    margin-top: 16px;
    margin-bottom: 0;
    color: white;
    font-family: Verdana;
}
.price p:nth-child(2n){
    font-size: 20px;
    text-align: left;
    margin-top: 0;
    margin-left: 20px;
}
.details{
    position: absolute;
    margin-bottom: 17px;
    float: right;
    top: 0;
    margin-left: 184px;
}
.details p{
    margin-right: 15px;
    margin-top: 28px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: Verdana;
}
.details p::after{
    content: "›";
    margin-left: 10px;
    font-size: 18px;
}
.footer{
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: Verdana;
    margin-bottom: 20px;
}